/* Full-screen map canvas */
#map-canvas {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
}

/* map marker */
#centreMarker {
	position:absolute;
	background:url(../img/tag-spot2.png) no-repeat;
	/*center the marker*/
	top:50%;
	left:50%;
	z-index:2;
	/*fix marker offset*/
	margin-left:-112px;
	margin-top:-55px;
	/*size of the image*/
	height:64px;
	width:220px;
	cursor:pointer;
}

#revealTagIcon {  /* button to reveal centre marker after nerbysearch hides it*/
	position: relative;
	z-index: 3;
	width: 150px;
	height: 45px;
	font-size: 100%;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
	background: rgba(255, 255, 255, 0.6);
	display: none;
}

/* instance of main btn icons on home map*/
.btnInstance {
	position: absolute;
	padding-right: 5px;
	height: 3em;
	width: 3em;
	z-index: 1;
}

/*circle shadow for btn icons*/
.circle {
 	width: 2.6em;
   	height: 2.6em;
   	-moz-border-radius: 70px; 
   	-webkit-border-radius: 70px; 
   	border-radius: 70px;
   	/* shadow */
   	-webkit-box-shadow: 4px 9px 5px 0px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    4px 9px 5px 0px rgba(50, 50, 50, 0.65);
	box-shadow:         4px 9px 5px 0px rgba(50, 50, 50, 0.65);
}


/* individual styling for main btn icons */
#menuBtn {
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
	margin-right: 10px;
}

#searchBtn {
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
}

#centerBtn {
	bottom: 0;
	left: 0;
	margin-bottom: 10px;
	margin-left: 10px;
}

/* opacity mask appears when menu is active */
#mapMask {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: -1;
	background: rgba(0, 0, 0, 0.6);
}

#menuPanel {
	position: fixed;
	height: 100%;
	width: 80%;
	right: 0;
	z-index: 3;
	margin-right: -80%;
	background: #F5F5F5;
	/* background: #373737;*/
	/*background: rgba(55, 55, 55, 0.8)*/
}

/* exit menu btn */
#closeMenuPanel {
	position: absolute;
	top: 3px;
	right: 0;
	height: 3em;
}

/* buttons within the user profile menu */
.profileMenuBtn {
	width: 100%;
	height: 80px;
	margin: 2px auto;
	border: 2px solid #363636;
	background: #F5F5F5; 
	color: #363636;
	font-size: 150%;
}

.sign-out-btn {
	color: red;
	border: 2px solid red;
}

.sign-out-btn a:link {
	color: red;
}

.sign-out-btn a:visited {
	color: red;
}

/* remove link styling */
a { text-decoration: none; }
a:visited, a:link {	color: #363636; }

.profileMenuBtnWrapper{
	position: relative;
	width: 100%;
	top: 60px;
	padding: 5px;
}

/* geolocation disabled error message */
#locationErrorMessage {
	font-size: 150%;
	color: #FFF;
}