/* google font  */
h2, p, a, button { font-family: 'Open Sans', sans-serif; }

#searchPanel {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 3;
	background: rgba(245, 245, 245, 0.9)
}

.row {
	position: relative;
	width: 100%;
	height: 3em;
	margin-bottom: 5px;
}

#closeSearchPanel {
	position: absolute;
	top: 3px;
	right: 2px;
	height: 3em;
}

#searchPanel input[type='search'] {
	width: 100%;
	height: 3em;
	background: #E9E9E9;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #363636;
	padding-left: 10px;
	margin-top: 10px;
	font-size: 150%;
	color: #363636;
	outline: none; /* remove focus glow */
	/* remove ios curves */
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

/* near me button*/
.row button {
	position: relative;
	top: 8px;
	left: 5px;
	width: 175px;
	height: 45px;
	border: 2px solid #1881BD;
	background: #F5F5F5;
	color: #1881BD;
}

/* search by... buttons */
.searchby-btn {
	position: relative;
	background: rgb(245, 245, 245); /* browser fallback */
	background: rgba(245, 245, 245, 0.0); 
	height: 80px;
	width: 50%;
	margin: 8px auto;
	display: inline-block;
	font-size: 150%;
	float: left;
}

.searchby-active {
	/*background: rgba(24, 129, 189, 0.0);*/
	border: 2px solid #1881BD;
	color: #1881BD;
	/* transition */
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.searchby-off {
	/*background: rgba(186, 186, 186, 0.0);*/
	border: 2px solid #BABABA;
	color: #BABABA;
	/* transition */
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}