$transparent: rgba(0, 0, 0, 0);
$transparent-gray: rgba(240, 240, 240, 0.8);
$mustard: #F0B011;
$mustard-light: #F5C72D;
$gray: #696969;

h1, h2, h3, h4, p, a, label, input {
	line-height: 1.5;
	font-weight: 100;
}
